.homeFeatures {
  width: 90%;
  margin: 2rem auto;
  border: 1px solid #eee;
  padding: 1rem;
  &__container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  &__feature {
    display: flex;
    align-items: center;
    padding-left: 4rem;
    &:not(:last-child) {
      border-right: 1px solid #eee;
    }
    &-icon {
      font-size: 4rem;
      color: $darkBlack-color;
      margin-right: 2rem;
    }
    &-text {
      display: flex;
      flex-direction: column;
      span {
        color: $lightBlack-color;
        &:first-child {
          font-size: 1.4rem;
          font-weight: bold;
          color: black;
        }
      }
    }
  }
}
