.navbar {
  width: 100%;
  background: linear-gradient(
    266deg,
    rgba(22, 36, 32, 1) 0%,
    rgba(5, 75, 55, 1) 96%,
    rgba(31, 70, 59, 1) 100%
  );
  z-index: 10000;
  &__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 0;
  }
  &__logo {
    display: flex;
    align-items: baseline;
    a {
      display: flex;
      align-items: baseline;
    }
    img {
      width: 3rem;
    }
    span {
      color: white;
      font-size: 3rem;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none !important;
    margin-bottom: 0 !important;
    li {
      margin-left: 4rem;
      margin-bottom: 0 !important;
      a {
        color: white;
        font-size: 1.6rem;
        padding: 1rem;
        text-decoration: none !important;
      }
    }
  }
  &__login {
    button {
      border: 1px solid #ffea20;
      padding: 1rem 3rem !important;
      border-radius: 0.5rem;
      background-color: transparent;
      color: white;
      font-size: 1.8rem;
    }
  }
  &__profileLink {
    padding: 1.1rem 2rem 1.1rem 0rem !important;
    background: rgba($color: #fff, $alpha: 0.2);
    border-radius: 2rem;

    .fa-user {
      background: #fff;
      color: #ddd;
      border-radius: 2rem;
      padding: 1.1rem;
    }
  }
}
