$primary-color: #293462;

$secondary-color: #ff7700;
$white-color: #fff;
$black-color: #000;
$darkBlack-color: #333;
$lightBlack-color: #666;
$grey-color: rgb(199, 196, 196);
$green-color: #66912e;
$blue-color: #3ab0ff;
$red-color: #f96666;
$paragraph-font: "Poppins", sans-serif;
$header-font: "Alfa Slab One", cursive;

$border-radius: 0.5rem;

$darkerPrimary-color: #2850bc;
$lighterPrimary-color: #7b94f5;
$darkestPrimary-color: #1a329c;
$black-color: #344c75;
$darker-color: #3b3d41;
$lighter-color: #616061;
$white-color: #fff;
$red-color: #dd5353;
